{% load static %}

<!DOCTYPE html>
<html>
    <head>

      {% block extrahead %}

        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% load static %}
        {% load widget_tweaks %}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <link href="{% static 'css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'js/modernizr.min.js' %}"></script>

      {% endblock %}



        <meta charset="utf-8" />
        <title>proyecto nomipro</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        

        <!-- App css -->
        
        
    </head>

    <body>

        <!-- Navigation Bar-->
    {% block navbar %}
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">

                    <!-- Logo container-->
                    <div class="logo">
                        <!-- Text Logo -->
                        <!--<a href="index.html" class="logo">-->
                            <!--<span class="logo-small"><i class="mdi mdi-radar"></i></span>-->
                            <!--<span class="logo-large"><i class="mdi mdi-radar"></i> Adminto</span>-->
                        <!--</a>-->
                        <!-- Image Logo -->
                        <a href="index.html" class="logo">
                            <img src="assets/images/logo-sm.png" alt="" height="26" class="logo-small">
                            <img src="assets/images/logo.png" alt="" height="24" class="logo-large">
                        </a>
                    </div>
                    <!-- End Logo container-->

                    <div class="menu-extras topbar-custom">

                        <ul class="list-unstyled topbar-right-menu float-right mb-0">

                            <li class="menu-item">
                                <!-- Mobile menu toggle-->
                                <a class="navbar-toggle nav-link">
                                    <div class="lines">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <!-- End mobile menu toggle-->
                            </li>
                            <li class="hide-phone">
                                <form class="app-search">
                                    <input type="text" placeholder="Search..."
                                           class="form-control">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </li>
                            <li>
                                <!-- Notification -->
                                <div class="notification-box">
                                    <ul class="list-inline mb-0">
                                        <li>
                                            <a href="javascript:void(0);" class="right-bar-toggle">
                                                <i class="mdi mdi-bell-outline noti-icon"></i>
                                            </a>
                                            <div class="noti-dot">
                                                <span class="dot"></span>
                                                <span class="pulse"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Notification bar -->
                            </li>

                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <img src="{% static 'images/users/dev.png' %}" alt="user" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                                    <!-- item-->

                                    <a href="javascript:void(0)" class="dropdown-item ">
                                        <i class="ti-user m-r-5"></i> other 
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="ti-settings m-r-5"></i> other 
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="ti-lock m-r-5"></i> Lock screen
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="ti-power-off m-r-5"></i> Logout
                                    </a>
                               

                                </div>
                            </li>

                        </ul>
                    </div>
                    <!-- end menu-extras -->

                    <div class="clearfix"></div>

                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->

            <div class="navbar-custom">
                <div class="container-fluid">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">
                            <li class="has-submenu">
                                <a href="{% url 'inicio_listar'  %}"><i class="mdi mdi-view-dashboard"></i> <span> inicio </span> </a>
                            </li>
                            <li class="has-submenu">
                                <a href="#"><i class="mdi mdi-invert-colors"></i> <span> Administrar nómina  </span> </a>
                                <ul class="submenu megamenu">
                                    <li>
                                        <ul>
                                            <li><a href="{% url 'nomina_listar' %}">Nomina</a></li>
                                            <li><a href="{% url 'periodo_listar' %}">Periodo</a></li>
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-submenu">
                                <a href="#"><i class="mdi mdi-texture"></i><span> Gestión de empleados </span> </a>
                                <ul class="submenu">
                                    <li><a href="{% url 'cargos_listar'%}">Cargos </a></li>
                                    <li><a href="{% url 'tipovinculacion_listar'%}">Tipo de vinculación</a></li>
                                    <li><a href="{% url 'empleado_listar'%}">Empleado </a></li>
                                </ul>
                            </li>

                            <li class="has-submenu">
                                <a href="#"><i class="mdi mdi-view-list"></i> <span> Gestión de tiempos </span> </a>
                                <ul class="submenu">
                                    <li><a href="{% url 'detallehoras_listar'%}">Detalle horas</a></li>
                                    <li><a href="{% url 'parafiscales_listar'%}">Parafiscales</a></li>
                                    <li><a href="{% url 'detalleparafiscal_listar'%}">Detalle parafiscales</a></li>
                                    <li><a href="{% url 'reportehoras_listar'%}">Reporte horas </a></li>
                                    <li><a href="{% url 'horasadicionales_listar'%}">Horas adicionales </a></li>
                                </ul>
                            </li>
                                 
                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        {% endblock %}
        <!-- End Navigation Bar-->
        <br><br><br><br>
        <div class='container text-center'>
            <div class="content container">
                <div class="row mt-5">
                    <div class="col-md-10">
                        {% block content %}
                        {% endblock %}
                    </div>
                 </div>
            </div>
        </div>




        <div class="wrapper">
          


            <!-- Right Sidebar -->
            <div class="side-bar right-bar">
                <a href="javascript:void(0);" class="right-bar-toggle">
                    <i class="mdi mdi-close-circle-outline"></i>
                </a>
                <h4 class="">Opciones</h4>
                <div class="notification-list nicescroll">
                    <ul class="list-group list-no-border user-list">
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="avatar">
                                    <img src="{% static 'images/users/login.png' %}" alt="">
                                </div>
                                <div class="user-desc">
                                    
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'registrar' %}" class="user-list-item">
                                <div class="icon bg-info">
                                    <i class="mdi mdi-account"></i>
                                </div>
                                <div class="user-desc">
                                    <span class="name">Nuevo usuario </span>
                                    
                                </div>
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="{% url 'logout' %}" class="user-list-item">
                                <div class="icon bg-danger">
                                    <i class="mdi mdi-comment"></i>
                                </div>
                            
                                <div class="user-desc">
                                    <span class="name">Cerrar sesión</span>      
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- /Right-bar -->

        </div>
        <!-- end wrapper -->
    	
        
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        2020 Nomipro 
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->


        {% bootstrap_javascript jquery='full'%}
        <!-- jQuery  -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/waves.js' %}"></script>
        <script src="{% static 'js/jquery.slimscroll.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'js/jquery.core.js' %}"></script>
        <script src="{% static 'js/jquery.app.js' %}"></script>

    </body>
    
</html>
















































































