{% extends 'base/base.html' %}

{% load static %}
{% block content %}

<main role="main">

<div class="container text-center mt-5">
    <br><br>
    <div class="row mb-4">
        <div class="col-md-12">
            <h1 style="font-size: 28px;">Periodo</h1>
        </div>
 
        <div class="col-md-12">
            <div class="table-responsive">
                <nav aria-label="breadcrumb mb-3">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="./">Periodo</a></li>
                        <li class="breadcrumb-item active">Detalles</li>
                    </ol>
                </nav>
                <div class="form align=left" >
                    <h4>Detalles</h4>
                    <p><span class="txt_negrita">Anual:</span><br>{{ object.anual}}</p>
                    <p><span class="txt_negrita">Mes:</span><br>{{ object.mes}}</p>
                 
                    <a href="../" type="submit" class="btn btn-primary">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>
</main>

 {% endblock %} 



